*,v
*.la
*.lo
*.o
*~
,*
.deps
.libs
Makefile
Makefile.bak
Makefile.in
VERSION
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
dense
denser-*
depcomp
errors
install-sh
lib*.a
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
packaging/pkgconfig/denser.pc
packaging/rpm/denser.spec
